.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  background-image: url("/wwy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff; /* White text */
}

.heading {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff; /* White text */
}

.paragraph {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #ffffff; /* White text */
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 20px auto;
}
